* {
    text-align: center;
    background-color: #0D1B1E;
    color: #C7D3DD;
    margin-left: 5rem;
}
p {
    font-size: 30px;
}
h2 {   
    text-decoration: underline;
}
.row {
    display: flex;
} 
.col {
    flex: 1;
}
.col-3 {
    flex: 3;
}
.left-text {
    text-align: left;
    vertical-align: middle;
}
.right-text {
    text-align: right;
    vertical-align: middle;
}
iframe {
    height: 250px;
    width: 500px;
}
img {
    width: 500px;
}