/* Shared styling, general stuff, if not specified*/
* {
    text-align: center;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #CBF7ED;
    background-color: #23395B;
    font-family: 'Lato', sans-serif;
}

img {
    width: 45rem;
}

/* For phones, tested on Samsung Galaxy Note 20 and the Chrome iPhone X setting, though with Chrome sometimes there were visual bugs, where there would be a random bar on the right (on refresh that bar vanished) */
@media screen and (max-width:768px) {
    img {
        width: 100%;
    }
}

/* For iPads (tested using Chrome iPad Pro setting) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    img {
        width: 100%;
    }
}