* {
    text-align: center;
}
h2 {   
    text-decoration: underline;
}
nav {
    text-align: right;
}
.row {
    display: flex;
} 
.col {
    flex: 1;
    margin-right: 100px;
    margin-left: 100px;
}
.col-3 {
    flex: 3;
}
.left-text {
    text-align: left;
    vertical-align: middle;
}
.right-text {
    text-align: right;
    vertical-align: middle;
}