* {
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    background-color: #333333;
    height: 125px;
}
h1 {
    color: #fff;
    margin-left: 25%;
}
.subtitle {
    color: #fff;
    margin-left: 25%;
}
.container {
    display: flex;
    margin-left: 25%;
}
aside.grid {
    flex: 1;
    min-height: 600px;
    margin: 1em;
    margin-left: 0;
}
main {
    flex: 1;
    min-height: 600px;
    margin: 1em;
    border-style: solid;
    border-color: #d4d4d4;
}
.row {
    display: flex;
}
.col {
    flex: 1;
    min-height: 300px;
    margin: 1em;
    border: 1px solid #ccc;
    padding: 10px;
}
img {
    width: 100%;
    height: auto;
}
.header {
    padding: 5px;
}