* { 
    text-align: center;
    font-size: 20px;
    color: #CBD8E2;
}
body {
    background-image: linear-gradient(to bottom right,#0D1B1E, #6788A2, #77B6EA)
}
h1 {
    font-size: 50px;
    
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 25px;
}
h3.minor {
    font-size: 20px;
}
ul.none {
    list-style-type: none;
}
td {
    border-style: dashed;
    border-radius: 10px;
}
/* 
  Quick Lookup Guide
- Change font color     => color: red;
- Change font size      => font-size: 15px;
- Text align            => text-align: center
- Background color      => background-color: blue
- Select table header row as table>thead>tr { your properties go here }
*/
